.main{
    padding-bottom: 30px;
}
.main table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.main td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.main tr:nth-child(even) {
  background-color: #dddddd;
}
